a:hover {
  text-decoration: none;
}

.profile-pic {
  height: 4vmin;
  margin-right: 10px;
  border-radius: 50px;
}

div.media {
  margin-top: 30px;
  margin-bottom: 10px;
}

div.media .media-heading .jobTotalDuration {
  color: #666;
  font-size: 14px;
  display: block;
}

div.media img {
  height: 10vmin;
  margin-right: 10px;
  border-radius: 50px;
}

div.media .jobDuration {
  color: #444;
  display: block;
}

div.media .jobLocation {
  color: #666;
}

.formLabel {
  font-weight: bold;
}

.certificateLink {
  color: cornflowerblue;
}

footer {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: #444444;
  text-align: center;
}

footer a {
  color: black;
  font-size: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
.summary{
  height: 90vh;
    background-image: url(./hero.jpg);
    background-size: cover;
    background-position: top; 
   
    
   
  
}

.display-3 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.lead{
  color:#2fffff;
  font-weight: 300;
  width:50%
  
}
/* background-image: url(./background2.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100% 
  linear-gradient(
    to right bottom,
        rgba(#7ed56f, 0.801),
        rgba(#28b485, 0.801)),*/